################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FlowerShop/v16
/FA.FlowerShop/.vs/FA.FlowerShop/v16
/FA.FlowerShop/FA.FlowerShop.Core/obj/Debug
/FA.FlowerShop/packages
/.vs
/FA.FlowerShop/FA.FlowerShop.Core/bin/Debug
